.header {
	font-famiy: comic-sans;
    text-align: center;
    font-size: 350%;
    background: linear-gradient(to right, #af00ff, #12ff12);
    background-clip: text;
    color: transparent;
}
.body {
	font-size: 125%;
	text-indent: 75px;
}
h1 {
  animation-duration: 1.5s;
  animation-name: slide-in;
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
